<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head id="headId">
    <meta charset="UTF-8">
    <title>guess the Number Game</title>
</head>
<body>
    <div align="center">
        <h1>Guess the Number Game!!!</h1>
        <h3 id="main-message">
            Main message Context
        </h3>
        <h3 id="result-message" >
            Result message Context
        </h3>

        <form id="game-form"
              method="post">
            <label for="guess">Enter your guess</label>
            <input id="guess" type="number" name="guess" />
            <input th:type="submit" value="Submit"/>
        </form>

        <footer id="footerId">
            <p>Created by the Learn Programming Academy</p>
        </footer>
    </div>
</body>
</html>